<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head"></head>
<body>
<header th:replace="blocks/header :: header"></header>
<main>
    <div class="col-lg-8 mx-auto p-4 py-md-5 min-vh-100">
        <h1 th:text="${title}"></h1>
        <hr>

        <div>
            <p class="lead">
                Студенческий рейтинг - сервис для оценки учебной и внеучебной деятельности студентов преподавателями.
            </p>
            <p class="lead">
                Студенты могут посмотреть свой рейтинг и рейтинг других студентов. Могут ознакомиться с личными
                заслугами и оплошностями своими и остальных студентов.
            </p>
            <p class="lead">
                Преподаватели имеют возможность вносить достижения и проступки студентов, оценивая это баллами, которые
                прибавляются или вычитаются из имеющихся у данного студента баллов.
            </p>
        </div>
        <h2>Таблица выставления очков рейтинга</h2>
        <hr>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Количество очков</th>
                <th scope="col">Событие</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">+3 ... +5</th>
                <td>Итоговая успеваемость за семестр</td>
            </tr>
            <tr>
                <th scope="row">+1 ... +3</th>
                <td>Помощь преподавателю напрямую</td>
            </tr>
            <tr>
                <th scope="row">+1 ... +5</th>
                <td>Выполнение поручения из списка поручений</td>
            </tr>
            <tr>
                <th scope="row">+1 ... +5</th>
                <td>Спортивная деятельность(в зависимости от степени участия)</td>
            </tr>
            <tr>
                <th scope="row">+1 ... +5</th>
                <td>Культурная деятельность(в зависимости от степени участия)</td>
            </tr>
            <tr>
                <th scope="row">+5</th>
                <td>Благодарность</td>
            </tr>
            <tr>
                <th scope="row">+5 ... +10</th>
                <td>Публикация научной работы</td>
            </tr>
            <tr>
                <th scope="row">-1</th>
                <td>Штраф за отказ от поручения</td>
            </tr>
            <tr>
                <th scope="row">-1</th>
                <td>Опоздание на 15 минут и более</td>
            </tr>
            <tr>
                <th scope="row">-2</th>
                <td>Долг по предмету</td>
            </tr>
            <tr>
                <th scope="row">-2</th>
                <td>Пропуск пары без уважительной причины</td>
            </tr>
            <tr>
                <th scope="row">-5</th>
                <td>Выговор</td>
            </tr>
            <tr>
                <th scope="row">-10 ... -1</th>
                <td>Нарушение внутреннего распорядка ВУЗА(в зависимости от тяжести)</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="blocks/footer :: footer"></footer>
</body>
</html>