<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head"></head>
<body>
<header th:replace="blocks/header :: header"></header>
<main>
    <div class="col-lg-8 mx-auto p-4 py-md-5 min-vh-100">
        <h1 th:text="${title}"></h1>
        <hr>

        <div class="row d-flex justify-content-between mb-3">
            <div class="col-auto">
                <img th:src="${student.imageUrl}" alt="mdo" width="150" height="150"
                     class="rounded-circle">
            </div>
            <div class="col-auto p-4 ">
                <h5 th:text="${student.name} + ' ' + ${student.surname}"></h5>
                <h5 th:text="${student.groupName}"></h5>
                <h5 th:text="${student.points} + ' очков'"></h5>
            </div>

            <div  th:each="point : ${pastYearPoints}" class="col-auto overflow-auto pt-4"
                 style="max-height: 8rem">
                <div class="card bg-light mb-3">
                    <div class="card-body row pt-0 pb-0">
                        <p th:text="${point.getYear().getYear()}" class="col-auto text-start"></p>
                        <p th:text="${point.getPoints()} + 'очков'" class="col text-end"></p>
                    </div>
                </div>

<!--                <div class="card bg-light mb-3">-->
<!--                    <div class="card-body row pt-0 pb-0">-->
<!--                        <p class="col-auto text-start">2021</p>-->
<!--                        <p class="col text-end">89 очков</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="card bg-light mb-3">-->
<!--                    <div class="card-body row pt-0 pb-0">-->
<!--                        <p class="col-auto text-start">2021</p>-->
<!--                        <p class="col text-end">89 очков</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="card bg-light mb-3">-->
<!--                    <div class="card-body row pt-0 pb-0">-->
<!--                        <p class="col-auto text-start">2021</p>-->
<!--                        <p class="col text-end">89 очков</p>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

        </div>

        <h2>Активность</h2>
        <hr>

        <div class="container">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div class="col">
                        <div class="row justify-content-center align-items-center align-items-center">
                            <p class="col text-start">22.10.2022 22:12</p>
                            <p class="col text-center">Помочь</p>
                            <p class="col text-end">+1</p>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-outline-danger" type="button">Оспорить</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>
<footer th:replace="blocks/footer :: footer"></footer>
</body>
</html>