<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head"></head>
<head>
    <link th:href="@{/css/signIn.css}" rel="stylesheet">
</head>
<body class="text-center">
<main class="form-signin">
    <form method="post" action="/users/auth">
        <img class="mb-4" th:src="@{/img/SRlogoDark.svg}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Автризация</h1>
        <div class="form-floating">
            <input name="login" type="text" class="form-control" placeholder="login" id="inputLogin">
            <label name="login" for="inputLogin">Логин</label>
        </div>
        <div class="form-floating mb-0">
            <input name="password" type="password" class="form-control" placeholder="Password" id="inputPassword">
            <label name="password" for="inputPassword">Пароль</label>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember" value="remember-me"> Запомнить меня
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-dark mb-2" type="submit">Автоизоваться</button>
        <p class="small text-center text-gray-soft">Забыли пароль? <a href="https://telegram.me/moroz_zov"  target="_blank">Свяжитесь с нами</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
</main>
</body>
</html>