<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head"></head>
<body>
<header th:replace="blocks/header :: header"></header>
<main>
    <div class="col-lg-8 mx-auto p-4 py-md-5 min-vh-100">
        <h1 th:text="${title}"></h1>
        <hr>

        <div th:each="task : ${tasks}" class="container">
            <div class="card bg-light mb-3">
                <div th:text="${task.getTitle()}" class="card-header text-center"></div>
                <div class="card-body">
                    <div class="col">
                        <div class="row justify-content-between">
                            <p th:text="'Заказчик: ' + ' ' + ${task.getAuthor().getSurname()} + ' ' + ${task.getAuthor().getName()[0]} + '.' + ${task.getAuthor().getPatronymic()[0]} + '.'"
                               class="col-auto text-start"></p>
                            <p th:text="'Крайний срок: ' + ${task.getDeadLine().toLocalDate()} + ' ' + ${ task.getDeadLine().toLocalTime()}"
                               class="col-auto text-center"></p>
                            <p th:text="'Осталось мест: ' + ${task.getStudentCount()}" class="col-auto text-end"></p>
                            <p th:text="'Стоимость: ' + ${task.getCost()}" class="col-auto text-end"></p>
                        </div>
                        <div class="d-grid">
                            <button th:disabled="${respondsIds.contains(task.getId())} ? 'true' : 'false'"
                                    th:class="${respondsIds.contains(task.getId())} ? 'btn btn-outline-dark':'btn btn-outline-success'"
                                    th:text="${respondsIds.contains(task.getId())} ? 'Вы уже откликнулись':'Откликнуться'"
                                    type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<footer th:replace="blocks/footer :: footer"></footer>
</body>
</html>