<header class="p-3 text-bg-dark" th:fragment="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/students/getAll" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img th:src="@{/img/SRlogo.svg}" alt="StudentRating" class="bi me-2" width="40" height="40" role="img"
                     aria-label="StudentRating">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/students/getAll" class="nav-link px-2"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/students/getAll' ? 'text-secondary':'text-white'}">Рейтинг</a>
                </li>
                <li><a href="/tasks/getAll" class="nav-link px-2"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/tasks/getAll' ? 'text-secondary':'text-white'}">Поручения</a>
                </li>
                <li><a href="/tasks/getByUser" class="nav-link px-2"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/tasks/getByUser' ? 'text-secondary':'text-white'}">Мои
                    поручения</a>
                </li>
                <li><a href="/pages/about" class="nav-link px-2"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/pages/about' ? 'text-secondary':'text-white'}">Справка</a>
                </li>
            </ul>

            <!--            <div class="text-end">-->
            <!--                <button type="button" class="btn btn-outline-light me-2">Авторизация</button>-->
            <!--                <button type="button" class="btn btn-warning">Регистрация</button>-->
            <!--            </div>-->

            <script>
                $(function () {
                    $(document).on('submit', '#formNotification', function (e) {
                        e.preventDefault();
                        var $form = $(this);
                        $.ajax({
                            type: 'delete',
                            url: '/studentsRest/deleteNotification',
                            data: $form.serialize()
                            ,
                            success: function (data) {
                                if (data == 'success') {
                                    $form.parent('div').remove();
                                    $("#notificationsButton").dropdown('toggle')
                                    document.getElementById("count").innerHTML = document.getElementById("count").textContent - 1
                                } else {
                                    alert("data")
                                }
                            }
                        });
                    });
                })
                ;
            </script>
            <div class="dropdown text-end">
                <button type="button" class="btn btn-sm btn-outline-light position-relative me-4 dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false" id="notificationsButton">
                    Уведомления
                    <span th:text="${notifications.size()}" id="count"
                          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    7
                    <span class="visually-hidden">Непрочитанные уведомления</span>
                </span>
                </button>

                <div class="dropdown-menu dropdown-menu-dark text-end" id="notifications"
                     style="">
                    <div th:each="notification : ${notifications}" th:id="${notification.getId()}"
                         class="dropdown-item">
                        <form method="delete" id="formNotification">
                            <input th:value="${notification.getId()}" type="hidden" id="notificationId"
                                   name="notificationId"/>
                            <p>
                        <span th:text="${notification.getCost() >= 0 ? '+' : ''} + ${notification.getCost()} + ' очков (' + ${notification.getTitle()} + ')'"
                        ></span>
                                <span
                                        th:text="${notification.getCreatedAt().toLocalDate()} + ' ' + ${notification.getCreatedAt().toLocalTime()}"
                                        class="badge text-muted"></span>
                                <button type="submit"
                                        class="btn btn-sm btn-outline-danger badge">x
                                </button>
                            </p>
                            <hr class="dropdown-divider">
                        </form>

                    </div>
                </div>
            </div>

            <script>
                $(function () {
                    $('#formSignOut').on('submit', function (e) {
                        e.preventDefault();
                        $.ajax({
                            type: 'post',
                            url: '/studentsRest/signOut',
                            data: $('#formSignOut').serialize()
                            ,
                            success: function (data) {
                                if (data == 'success') {
                                    window.location = '/students/getAll'
                                } else {
                                    alert("data")
                                }
                            }
                        });
                    });
                });
            </script>
            <div class="dropdown text-end">
                <a href="/students/getMyProfile" class="d-block link-light text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="/img/avatars/personal.svg" alt="mdo" width="40" height="40"
                         class="rounded-circle bg-light">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small" style="">
                    <li><a class="dropdown-item" href="/students/getMyProfile">Профиль</a></li>
                    <li><a class="dropdown-item" href="/students/getSettingsById">Настройки</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form method="post" id="formSignOut">
                            <button type="submit" class="dropdown-item" href="#">Выход</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>